$bcr-border: 3px;


.bc-range {
    position: absolute;
    border: $bcr-border dashed red;
    border-radius: 3.48mm;
    height: 53.98mm;
    width : 85.60mm;

    // width: calc(90vw - #{$bcr-border} * 2);
    // height: calc((90vw - #{$bcr-border} * 2) * 5 / 8);
    // left: calc((100vw - (90vw - #{$bcr-border} * 2)) / 2);

    // top: calc(45vh - ((90vw - #{$bcr-border} * 2) * 5 / 8) / 2);
}


// .portrait .bc-range-landscape .bc-range {
//     width: calc(90vw - #{$bcr-border} * 2);
//     height: calc((90vw - #{$bcr-border} * 2) * 5 / 8);
//     left: calc((100vw - (90vw - #{$bcr-border} * 2)) / 2);

//     top: calc(45vh - ((90vw - #{$bcr-border} * 2) * 5 / 8) / 2);
// }

// .portrait .bc-range-portrait .bc-range {
//     width: calc(75vw - #{$bcr-border} * 2);

//     height: calc((75vw - #{$bcr-border} * 2) * 8 / 5);
//     top: calc(45vh - ((75vw - #{$bcr-border} * 2) * 8 / 5) / 2);
//     left: calc((100vw - (75vw - #{$bcr-border} * 2)) / 2);
// }

// /* .bc-range-landscape */
// .landscape .bc-range-portrait .bc-range {
//     height: calc(75vh - #{$bcr-border} * 2);
//     width: calc((75vh - #{$bcr-border} * 2) * 5 / 8);
//     top: calc((100vh - (75vh - #{$bcr-border} * 2)) / 2);
//     left: calc((100vw - 10vw - ((75vh - #{$bcr-border} * 2) * 5 / 8)) / 2);
// }

// .landscape .bc-range-landscape .bc-range {
//     height: calc(75vh - #{$bcr-border} * 2);
//     width: calc((75vh - #{$bcr-border} * 2) * 8 / 5);
//     top: calc((100vh - (75vh - #{$bcr-border} * 2)) / 2);
//     left: calc((100vw - 10vw - ((75vh - #{$bcr-border} * 2) * 8 / 5)) / 2);
// }
