$bcr-border: 1px;

table {
    border: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    .landscape & {
        width: calc(100% - 58px);
      }
    
      .portrait & {
        height: calc(100% - 62px);
      }

    td:not(.bc-range){
        background-color: black;
        opacity: .5;
    }
}

.bc-range {
    border: $bcr-border dashed black;
    height: 53.98mm;
    width : 85.60mm;
}
