$bcr-border: 1px;

table {
    border: none;
    width: 100%;
    height: 100%;

    td:not(.bc-range){
        background-color: black;
        opacity: .5;
    }
}

.bc-range {
    border: $bcr-border dashed black;
    height: 53.98mm;
    width : 85.60mm;
}
