.portrait 
{
    .working-space {
        position: absolute;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .tool-bar {
        display: inline-table;
        position: fixed;
        bottom: 0;
        width: 100vw;
        left: 0;
    }
}

.landscape {
    .working-space {
        position: absolute;
        left: 0;
        width: 90vw;
        height: 100vh;
    }

    .tool-bar {
        display: inline-grid;
        position: absolute;
        right: 0;
        height: 100vh;
        margin: auto;
        align-items: center;
    }
}

.tool-bar{
    background: gray;

    >* {
        display: inline;
        background: blueviolet;
        color: white;
        padding: .4em;
        text-decoration: none;
        font-size: 1em;
        border: none;
        margin: .2em;
    }
}
